<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Master List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="list-of-masters">
                                        <ul class="clear">
                                            <li>
                                                <ul class="list-dept">
                                                    <li><a [routerLink]="['/unitmaster']">Unit Master</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul class="list-dept">
                                                    <li><a [routerLink]="['/batchmaster']">Batch Master</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>